force-app/main/default/flows/getContactswithEmailorPhone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_If_Contact_with_Email_Exists</name>
        <label>Check If Contact with Email Exists</label>
        <locationX>377</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>Create_Conatact_with_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactDetailsVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Record_with_Email</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Contact_with_Phone_Exists</name>
        <label>Check If Contact with Phone Exists</label>
        <locationX>1045</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Create_Conatact_with_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phoen_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactDetailsVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Record_with_Phone</targetReference>
            </connector>
            <label>Phoen Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_decision</name>
        <label>Source decision</label>
        <locationX>658</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_is_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Records_with_Email</targetReference>
            </connector>
            <label>Source is Email</label>
        </rules>
        <rules>
            <name>Source_is_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Records_with_Phone</targetReference>
            </connector>
            <label>Source is Phone</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>sourceFromMetaData</name>
        <dataType>String</dataType>
        <displayField>Source__c</displayField>
        <object>Select_Source__mdt</object>
        <valueField>Source__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>getContactswithEmailorPhone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>getContactswithEmailorPhone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Conatact_with_Email</name>
        <label>Create Conatact with Email</label>
        <locationX>516</locationX>
        <locationY>721</locationY>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_User.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_User.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Conatact_with_Phone</name>
        <label>Create Conatact with Phone</label>
        <locationX>1219</locationX>
        <locationY>712</locationY>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_User.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_User.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Records_with_Email</name>
        <label>Get Contact Records with Email</label>
        <locationX>383</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Contact_with_Email_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_User.value</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>getContactDetailsVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Records_with_Phone</name>
        <label>Get Contact Records with Phone</label>
        <locationX>1048</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Contact_with_Phone_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_User.value</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>getContactDetailsVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Fetching_with_Name</name>
        <label>Fetching with Name</label>
        <locationX>670</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Source</targetReference>
        </connector>
        <fields>
            <name>Name_User</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_User</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone_User</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Source</name>
        <label>Select Source</label>
        <locationX>673</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Source_decision</targetReference>
        </connector>
        <fields>
            <name>Source_User</name>
            <choiceReferences>sourceFromMetaData</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Record_with_Email</name>
        <label>Show Record with Email</label>
        <locationX>252</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nameBasedonEmail</name>
            <fieldText>&lt;p&gt;Name based on Email: {!getContactDetailsVar.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Record_with_Phone</name>
        <label>Show Record with Phone</label>
        <locationX>892</locationX>
        <locationY>738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nameBasedonPhone</name>
            <fieldText>&lt;p&gt;Name based on Phone: {!getContactDetailsVar.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Fetching_with_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getContactDetailsVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
